.header {
  padding-block: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: var(--light-element-bg-color);
  color: var(--light-color);

  &.dark-theme {
    color: var(--dark-color);
    background: var(--dark-element-bg-color);
    box-shadow: none;
  }

  &__mode {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;

    p {
      font-size: 14px;
    }
  }
}

.header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1rem;
  }
}
