:root {
  --ff-300:  'Nunito Sans', sans-serif;
  --fw-300: 300;
  --fw-600: 600;
  --fw-800: 800;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osc-font-smoothing: grayscale;
  font-family: var(--ff-300);
  background-color: #fafafa;
  font-size: 0.875rem;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1;
}

input, 
button,
textarea,
select {
  font: inherit;
}

img, 
video,
figure {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 80rem;
  width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}